* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  border: solid 1px;

  width: 100%;
}
.headline {
  font-size: 22px;
}
nav {
  border: solid 1px;
  text-align: center;
}
.list {
  border: solid 1px;
  /* padding-left: 40px; */
}

.list-item {
  border: solid;
  margin-left: 40px;
}
